<div class="students-list">
    <div *ngFor="let student of students let i=index" class="d-flex flex-row">
        <app-basic-student-data *ngIf="userService.getRole()===access.Admin || userService.getRole()===access.Professor" [student]="student" class="p-2 d-flex"
        (deleteEvent)="deleteStudent(i)"></app-basic-student-data>
        <app-guest-student-list *ngIf="userService.getRole()===access.Guest" [student]="student" class="p-2 d-flex"></app-guest-student-list>
        <app-student-view *ngIf="userService.getRole()===access.Student" [student]="student" class="p-2 d-flex"></app-student-view>

      <app-student-grades-view *ngIf="userService.getRole()===access.Student" [student]="student" class="p-2 d-flex"></app-student-grades-view>
      <app-courses-data *ngIf="userService.getRole()===access.Admin || userService.getRole()===access.Professor" [student]="student" class="p-2 d-flex"></app-courses-data>

    </div>
</div>
<button *ngIf="userService.getRole()===access.Admin || userService.getRole()===access.Professor" class="btn btn-warning btn-block" (click)="modal.open(students)">Add student</button>
<app-student-add #modal></app-student-add>
