<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">Students app</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]='["/home"]' class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a [routerLink]='["/about"]' class="nav-link" href="#">About</a>
            </li>
            <li *ngIf="!loginService.isLogged()" class="nav-item">
                <a (click)="modal.open()" class="nav-link" href="">Login</a>
            </li> 
            <li *ngIf="loginService.isLogged()" class="nav-item">
                <a [routerLink]='["/admin"]' class="nav-link" href="#">Admin</a>
            </li> 
        </ul>
    </div>
</nav>

<app-login #modal></app-login>

<div class="container">
    <router-outlet></router-outlet>
</div>