<div class="course-info m-2">
    <div ngbDropdown>
        <button class="dropdown-toggle btn btn-secondary btn-block m-2" ngbDropdownToggle>Course</button>
        <div ngbDropdownMenu>
            <button *ngFor="let course of student.courses" (click)=courseSelected(course) class="dropdown-item">{{course.name}}</button>
        </div>
    </div>
    <button *ngIf="userService.getRole()=='ADMIN'" class="btn btn-success btn-block m-2" (click)="modal.open(student)">
        Add Changes
    </button>

    <button class="btn btn-primary btn-block m-2" (click)="update(student)">
        Save courses
    </button>
</div>

<app-grades-view [course]="selectedCourse" class="p-2 d-block" (gradeChange)="updateAvg()"></app-grades-view>

<app-course-add #modal></app-course-add>
