<div class="container">
        <p>Hello, We are CS students and we wrote this app!</p>
        <div>
            As {{getUserName()}} you can:
            <ul>
                <li *ngIf="userService.getRole() <= 3 && userService.getRole() != 2">See list of students</li>
                <li *ngIf="userService.getRole() <= 2">See your information</li>
                <li *ngIf="userService.getRole() <= 1">Add students, and change their grades</li>
                <li *ngIf="userService.getRole() <= 0">Add and remove courses</li>
            </ul>
        </div>
        <img id="contact-avatar" src="https://api.adorable.io/avatars/128/username">
</div>
