<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="modal-title">
            <h4>New course</h4>
            <h6>Student: {{student.name}} {{student.surname}}</h6>
        </div>

        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div ngbDropdown>
            <button class="dropdown-toggle btn btn-secondary btn-block m-2" ngbDropdownToggle>Course</button>
            <div ngbDropdownMenu class="w-100">
                <button *ngFor="let course of courses" (click)=courseSelected(course) class="dropdown-item">
                    <div class="d-flex">
                        <div class="p-2 w-100">Name: {{course.name}}</div>
                        <div class="p-2 flex-shrink-0">ECTS: {{course.ECTS}}</div>
                    </div>
                </button>
            </div>
        </div>
        <div class="info" *ngIf="selectedCourse.ECTS !== 0">
            <div class="form-group">
                <label for="name">Course name:</label>
                <input type="text" class="form-control" id="name" value="{{selectedCourse.name}}" disabled>
            </div>
            <div class="form-group">
                <label for="ects">ECTS:</label>
                <input type="number" class="form-control" id="ects" value="{{selectedCourse.ECTS}}" disabled>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="c('Save')">Save</button>
        <button type="button" class="btn btn-danger" (click)="c('Cancel')">Cancel</button>
    </div>
</ng-template>